.gridcontainer {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  height: auto;
  
}


.griditem{
    background-color: #007bff;
    color: white;
    height: 7rem;
     
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
    border: 0.2px solid black;


}